<launch>
    <arg name="Graph_file" default="/home/norihiro/dev_ws/src/graph_server/src/test_graph.yaml"/>
    <param name="graph_file" value="$(arg Graph_file)"/>

    <node name="graph_server" pkg="graph_server" type="graph_server_node.py" output="screen"/>
    <node name="graph_navigation" pkg="graph_navigation" type="graph_navigation_node.py" output="screen"/>
</launch>
