<launch>
    <arg name="graph_file" default="$(find graph_navigation)/graph/test_graph.yaml"/>
    <param name="graph_file" value="$(arg graph_file)"/>

    <node name="graph_server" pkg="graph_server" type="graph_server_node.py" output="screen"/>
    <node name="graph_navigation" pkg="graph_navigation" type="graph_navigation_node.py" output="screen"/>
    <node name="graph_navi_detour" pkg="Graph_navi_with_detour" type="graph_navi_detour.py" output="screen"/>
</launch>
